---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro/components";
import Page2 from "../components/Page2.mdx";
import Alert from "../components/Alert.astro";
---

<Layout>
  <main>
    <h1>this is about</h1>
    <Alert />
    <section class="">
      <pre><code class="text-pink-300">
        const response = await axios.get("https://sampleapi.com/v1/data")
    </code>
  </pre>
    </section>

    <section class="text-blue-300">
      <pre><code>
        from time import sleep
        print("hello world")
        sleep(1)
        class Data():
          self
    </code>
  </pre>
    </section>
    <section>
      <div class="rounded-lg w-1/4 bg-slate-800 border border-red-800 p-4 mx-4">
        <Code
          code={`print ("hello word") \ndef get_data():\n    [x for x in some_data]`}
          lang="python"
          theme="dark-plus"
        />
      </div>
    </section>
    <section class="font-mono w-1/2 rounded-md bg-gray-800 m-4 p-4">
      <Page2 />
    </section>
  </main>
</Layout>
