---
import Document from "../layouts/Document.astro";
import Alert from "../components/Alert.astro";
---

<Document>
  <section>
    <Alert
      title="This project is still under construction!"
      children={[
        "At the moment two of the 6 promised retailers' packages have functional code that can be used. This shouldb not discourage you from keeping an eye on this project, because updates are being continuesly tested and pushed.",
      ]}
    />
  </section>
</Document>
