---
import Navbar from "../components/Navbar.astro";
import IndexHero from "../components/IndexHero.astro";
import IndexRetailer from "../components/IndexRetailer.astro";
// import HeroTerminal from "../components/HeroTerminal.vue";
---

<html class="bg-gray-700">
  <head></head>
  <body>
    <Navbar />
    <IndexHero />
    <IndexRetailer />
  </body>
</html>
