---
import Layout from "../../layouts/Layout.astro";
import Page2 from "../../components/Page2.mdx";
import Sidebar from "../../components/Sidebar.astro";
---

<Layout>
  <!-- <section><Page2 /></section> -->
  <main class="grid grid-cols-2">
    <Sidebar />
    <section>this is main ct</section>
  </main>
</Layout>
