---
let { title, iconpath, children } = Astro.props;
// children = ["sometext", "anothertext"];
---

<div class="warning bg-amber-100 rounded-lg p-4 mx-2 max-w-lg flex flex-col">
  <h4 class="text-lg mx-auto text-slate-800">{title}</h4>
  <img
    src="https://api.iconify.design/emojione:raised-hand.svg"
    alt=""
    width="30"
  />
  <div class="text-slate-700">
    <ul>
      {children && children.map((x) => <li>{x}</li>)}
    </ul>
  </div>
  <slot />
</div>
