---
---

<div
  class="warning bg-amber-100 rounded-lg p-4 mx-2 max-w-sm flex flex-col"
>
  <h4 class="text-lg mx-auto text-slate-800">
    Respect the Rate Limiter
  </h4>
  <img
    src="https://api.iconify.design/emojione:raised-hand.svg"
    alt=""
    width="30"
  />
  <p class="text-slate-700">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ipsam porro assumenda velit cupiditate totam praesentium
    enim iusto, atque, quisquam reiciendis fugit aliquam
    incidunt vitae natus culpa molestiae doloremque harum,
    eaque repudiandae nisi sed? Voluptatem quasi porro enim
    nulla provident eos minus possimus. Distinctio modi
    doloremque velit totam autem, nemo vitae?
  </p>
  <slot />
</div>
