---
import IndexSRetailer from "./IndexSRetailer.astro";
let items = [
  { title: "mehrdad", imagePath: "test" },
  { title: "mehrdad", imagePath: "test" },
];
---

<section class="p-4 rounded-md text-white mt-12 max-w-2xl mx-auto bg-slate-800">
  <div class="flex flex-row max-w-xl gap-6">
    <div class="retailer bg-slate-700 rounded-md p-2">
      <h4>Canadiantire</h4>
      <img src="./tire.svg" alt="" width="50" />
    </div>
    <div class="retailer bg-slate-700 rounded-md p-2">
      <h4>Rona</h4>
      <img src="./rona.svg" alt="" width="100" />
    </div>
    <div class="retailer bg-slate-700 rounded-md p-2">
      <h4>Marks</h4>
      <img src="./marks.svg" alt="" width="100" />
    </div>
    <div class="retailer bg-slate-700 rounded-md p-2 hover:scale-125">
      <h4>SuperStore</h4>
      <img src="./superstore.svg" alt="" width="100" />
    </div>
  </div>
  <!-- <a href="../data/sample.csv">download file</a> -->
</section>
