---
---

<nav class="flex flex-row font-body items-center gap-36 p-4">
  <div>
    <a href="/">
      <img src="/zen3.svg" alt="" width="200" />
    </a>
  </div>
  <div class="flex flex-row gap-6 text-slate-500">
    <a href="/guide">User Guide</a>
    <div>API Refrences</div>
    <div>
      <a href="./register">Register</a>
    </div>
    <div><a href="/about">About</a></div>
  </div>
</nav>
