---
const data = [12, 3, 4];
---

<aside>
  <div class="vertical bg-teal-700 h-screen text-white flex flex-col w-1/5">
    <div><a href="/ct/main">Canadain Tire</a></div>
    <div><a>Rona</a></div>
    <div><a>Super Store</a></div>
  </div>
</aside>
